.logo{width:100%;height:120px;background: url(img/3.png);}
.logo .list1{background: url(img/2.png) no-repeat;width:188px;height:93px;margin-left: 273px;text-indent: -999em;}
.logo img{margin-left:208px;}
.nav{width:100%;height:40px;background: #402818;}
.nav .nav-list{width:100%;height:40px;line-height: 40px;}
.nav .nav-list .list2 a{border-right:1px solid #74472d;padding:0 20px;color:#e5d4cb;}
.nav .nav-list .list1 a{color:#eeb88c;border-right:1px solid #74472d;padding-left:207px;padding-right: 17px;}
.nav .nav-list .list3{height:25px;background: url(img/9.png) repeat-x;padding:0 7px;text-align: center;line-height: 25px;position:relative;color:#fff;margin-top: 7px;margin-left: 120px;}
.nav .nav-list .i1{background: url(img/6.png) no-repeat;width:7px;height:23px;position:absolute;left:0;top:0;}
.nav .nav-list .i2{background: url(img/7.png) no-repeat;width:7px;height:23px;position:absolute;right:0;top:0;}
.photo{width:100%;height:450px;}
img{display:block;}
.photo img{width:100%;height: 450px;}
.tell{width:960px;height:60px;margin:0px auto;background: #f7f7f7;margin-top:44px;}
.tell .t1{width:336px;height:50px;position:relative;padding-top:10px;border-right:1px solid #979796;}
.tell .t1 .t11{position:absolute;left:24px;height:10px;width:65px;height:40px;}
.tell .t1 .t12{position:absolute;left:96px;top:0px;width:220px;padding-top:10px;}
.tell .t1 .t12 p{color:#9c9c9c;}
.tell .t1 .t12 .p1{font-size:17px;color:#9c5d29;}
.tell .t1 .t12 span{font-size:12px;color:#9c5d29;}
.tell .t1 .t13{width:240px;height:50px;}
.tell ul{width:960px;}
.tell .t2{width:270px;border-right:1px solid #979796;}
.tell .t2 .t14{width:230px;height:35px;margin-top:15px;margin-left: 15px;}
.tell .t2 .t14 .t21 p{margin-right: 5px;}
.tell .t2 .t14 .t21 .se{font-size:12px;color:#ccc;}
.tell .t2 .t14 .t21 .ke{font-size:14px;color:#9b5d2b;}
.tell .t2 .t14  .img1{margin-left:8px;}
.tu{width:960px;height:492px;margin:0 auto;}
.tu .one{padding-right:10px;padding-left:5px;}
.chang{background: url(img/21.png) no-repeat;width:960px;height:66px;margin:20px auto;height:63px;}
.chang .bei{margin-left:760px;height:63px;line-height: 63px;}
.chang .bei li a{font-size:12px;color:#ba9bba;padding:0 10px;border-right:1px solid #ba9bba;}
.chang-tu{width:960px;height:539px;margin:0 auto;}
.chang-tu .tu1{width:308px;height:495px;position:relative;}
.chang-tu .one{width:308px;height:495px;position:absolute;left:0;top:0;}
.chang-tu .two{width:30px;height:60px;position:absolute;left:18px;top:202px;}
.chang-tu .three{width:30px;height:60px;position:absolute;left:266px;top:202px;}
.chang-tu .mask{width:308px;height:40px;position:absolute;left:0;bottom:0;background: #000;opacity: 0.5;filter:alpha(opacity=50);}
.chang-tu .text{width:70px;height:20px;position:absolute;right:10px;bottom:10px;color:#fff;}
.chang-tu .tu2{width:308px;height:496px;margin-left:15px;}
.chang-tu .tu2 .tu21{width:308px;height:239px;border:1px solid #e5e5e5;margin-bottom:15px;}
.chang-tu .tu2 .tu21 img{width:296px;height:193px;margin-top:5px;margin-left:5px;}
.chang-tu .tu2 .tu21 p{width:60px;height:15px;margin-top:15px;margin-left:7px;color:#ccc;}
.wai{background: url(img/34.png) no-repeat;height:63px;}
.kep{background: url(img/39.png) no-repeat;}
.kepian{width:960px;height:809px;margin:0 auto;}
.kepian .tu3{width:232px;height:809px;margin-left: 7px;}
.kepian .tu3 .tu31{width:232px;height:394px;border:1px solid #e5e5e5;margin-bottom: 10px;}
.kepian .tu3 .tu31 img{width:213px;height:357px;margin-top:5px;margin-left: 5px;}
.kepian .tu3 .tu31 p{width:50px;height:15px;margin-top:6px;margin-left: 6px;}
.fuwu{width:960px;height:66px;background: url(img/51.png) no-repeat;margin:0 auto;line-height: 66px;}
.fuwu .bj{width:60px;height:15px;margin-left:886px;}
.keli{width:960px;height:260px;margin:0 auto;}
.keli .rmb{width:310px;height:239px;border:1px solid #e5e5e5;}
.keli .rmb img{width:300px;height:195px;margin-top:4px;margin-left: 4px;}
.keli .rmb .yuan{width:310px;}
.keli .rmb .yuan .one{width:182px;margin-left: 7px;margin-top: 12px;color:#787878;} 
.keli .rmb .yuan .two{width:73px;margin-left:226px;margin-top: -12px;color:red;} 
.keli .meng{width:645px;height:239px;}
.keli .meng h3{font-size:18px;color:#3c2112;line-height: 30px;margin-left: 20px;}
.keli .meng p{font-size:12px;color:#3c2112;line-height:24px;margin-left: 20px;}
.keli .meng .jie{text-align: right;}
.keli .meng .jie a{color:#83471d;}
.jia{width:960px;height:240px;margin:0 auto;}
.jia .rmb img{width:300px;height:195px;}
.jia .rmb{width:310px;height:239px;border:1px solid #e5e5e5;}
.jia .rmb .yuan{width:310px;}
.jia .rmb .yuan .one{width:182px;margin-left: 7px;margin-top: 12px;color:#787878;} 
.jia .rmb .yuan .two{width:73px;margin-left:226px;margin-top: -12px;color:red;} 
.jia .rmb2{margin-left: 12px;margin-right: 12px;}
.jifen{width:960px;height:50px;background: url(img/53.png) no-repeat;margin:0 auto;}
.guan{width:960px;height:285px;border:1px solid red;margin:0 auto;}
.guan .g1{width:152px;height:285px;border:1px solid #000;margin-right: 10px;}
.guan .g1 .g11{width:152px;height:135px;border:1px solid #ccc;margin-bottom: 15px;}
.guan .g1 .g11 img{text-align: center;margin-top:6px;margin-left: 5px;}
.guan .g1 .g11 p{text-align: center;margin-top: 5px;}
.guan .g3{width:224px;height:281px;line-height: 28px;margin-left: 15px;color:#a278a2;}
.guan .g3 li{background: url(img/59.png) no-repeat left center;padding-left:5px;}
.you{width:960px;height:50px;margin:0 auto;background: url(img/60.png) no-repeat;text-align: right;}
.you a{color:#ccc;line-height:50px;}
.sheying{width:960px;height:40px;margin:0 auto;}
.sheying .sy{width:960px;}
.sheying .sy li{width:73px;margin-right:27px;}
.sheying .sy li a{color:#83471d;font-size:12px;}
.dqq{width:100%;background: #eee;}
.qq{width:960px;height:176px;margin:0 auto;}
.qq .qq1{width:117px;height:135px;padding-top:10px;margin-right:20px;}
.qq .qq1 h2{font-size:14px;font-weight: bold;color:#9c7878;border-bottom:1px solid #705c51;line-height: 38px;}
.qq .qq1 p{line-height:24px;color:#787878;}
.qq .qq1 .p1{margin-top:10px;}
.dz{width:393px;height:117px;border:1px solid #ccc;margin-top:20px;margin-left: 10px;}
.dz .lx{width:201px;height:55px;margin-left: 40px;}
.dz .lx a{width:43px;height:50px;background: url(img/61.png) no-repeat;display: block;}
.dz .lx .xqq p{margin-top:8px;margin-left: 5px}
.dz .lx .xqq .p1{font-size:14px;color:#939393;font-weight: bold;}
.dz .lx .xqq .p2 a{width:27px;height:25px;background: url(img/62.png) no-repeat 0 0;display: block;}
.dz .lx .xqq .p2 .xqq1{background-position: 0 0 }
.dz .lx .xqq .p2 .xqq2{background-position: -30px 0;}
.dz .lx .xqq .p2 .xqq3{background-position: -61px 0;}
.dz .lx .xqq .p2 .xqq4{background-position: -92px 0;}
.dz .lx .xqq .p2 .xqq5{background-position: -123px 0;}
.xqqd{width:340px;height:50px;margin-left: 40px;margin-top: 5px;}
.xqqd .xqqd1{width:60px;height:45px;background: url(img/12.png) no-repeat;}
.xqqd .xqqd2{width:251px;height:46px;margin-left: 10px;}
.footer{width:100%;background: #3c2112;height:123px;}
.foot{padding-top:20px;}
.footer .foot1{width:330px;height:20px;margin:0px auto;}
.footer .foot1 li a{padding:0 4px;border-right:1px solid #c8ffbc;color:#fff;}
.footer .foot1 li .last{border-right:none;}
.footer p{color:#fff;line-height: 24px;}
.footer .foot2{width:420px;margin:0 auto;}
.footer .foot3{width:387px;margin:0 auto;}
.footer .foot4{width:647px;margin:0 auto;}
